*{
	padding:0px;
	margin:0px;
}

div.star-rating{
	margin:0px auto;
}
div.color{
	width:200px;
	height: 50px;
}
section.color-section{
	padding:10px;
	border:1px solid gray;
	height: 120px;
	width:200px;
}
.star{
	cursor:pointer;
	height:25px;
	width:25px;
	margin:2px;
	float:left;
	background-color:grey;
	clip-path:polygon(
		50% 0%,
		63% 38%,
		100% 38%,
		69% 59%,
		82% 100%,
		50% 75%,
		18% 100%,
		31% 59%,
		0% 38%,
		37% 38%);
}

.selected{
	background-color:red;
}
.color-div{
	height:50px;
	width:200px;
	padding:10px;
}